{
  "openapi": "3.0.1",
  "info": {
    "title": "CRM API",
    "version": "1.0.0",
    "description": "Combined API reference for the CRM platform."
  },
  "servers": [
    {
      "url": "https://api-crm.swerky.dev/api",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "activity-logs",
      "description": "Activity Logs"
    },
    {
      "name": "analytics",
      "description": "Analytics"
    },
    {
      "name": "auth",
      "description": "Authentication"
    },
    {
      "name": "contacts",
      "description": "Contacts"
    },
    {
      "name": "listings",
      "description": "Listings"
    },
    {
      "name": "marketing",
      "description": "Marketing"
    },
    {
      "name": "media",
      "description": "Media"
    },
    {
      "name": "sales",
      "description": "Sales"
    },
    {
      "name": "shared",
      "description": "Shared"
    }
  ],
  "paths": {
    "/v1/activity-logs": {
      "get": {
        "summary": "activity-logs (list)",
        "deprecated": false,
        "description": "Returns CRM activity logs ordered newest first. The endpoint supports filtering by subjects, event, causer, and creation date.",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjects[]",
            "in": "query",
            "description": "Subject filters in type:id format. Supported types: account, contact, deal, lead, property, user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "maxItems": 50,
              "items": {
                "type": "string",
                "pattern": "^(account|contact|deal|lead|property|user):[1-9][0-9]*$"
              }
            },
            "example": [
              "lead:44",
              "account:12"
            ]
          },
          {
            "name": "event",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "deleted",
                "restored",
                "reverted",
                "roles_updated",
                "password_updated"
              ]
            },
            "example": "created"
          },
          {
            "name": "causer_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "from",
            "in": "query",
            "description": "Include activities created at or after this date-time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-08-01T00:00:00.000000Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Include activities created at or before this date-time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-08-01T00:00:00.000000Z"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "example": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityLog"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "null"
                        },
                        "next": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "page": {
                                "type": "integer",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "page",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": 100,
                      "event": "created",
                      "description": "A representative CRM record.",
                      "subject": {
                        "type": "account",
                        "id": 1,
                        "label": "Mon"
                      },
                      "causer": {
                        "id": 1,
                        "name": "Example record"
                      },
                      "changes": {
                        "before": {},
                        "after": {}
                      },
                      "metadata": {
                        "reverted_activity_id": 1,
                        "reason": "The record was updated by mistake.",
                        "restored_attributes": [
                          "example"
                        ]
                      },
                      "revert": {
                        "allowed": true
                      },
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    }
                  ],
                  "links": {
                    "first": "example",
                    "last": "example",
                    "prev": null,
                    "next": "example"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "url": "https://api-crm.swerky.dev/api/example",
                        "label": "Mon",
                        "page": 1,
                        "active": true
                      }
                    ],
                    "path": "https://api-crm.swerky.dev/api/example",
                    "per_page": 1,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/activity-logs/{id}": {
      "get": {
        "summary": "activity-logs (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity_log": {
                      "$ref": "#/components/schemas/ActivityLog"
                    }
                  },
                  "required": [
                    "activity_log"
                  ]
                },
                "example": {
                  "activity_log": {
                    "id": 100,
                    "event": "created",
                    "description": "A representative CRM record.",
                    "subject": {
                      "type": "account",
                      "id": 1,
                      "label": "Mon"
                    },
                    "causer": {
                      "id": 1,
                      "name": "Example record"
                    },
                    "changes": {
                      "before": {},
                      "after": {}
                    },
                    "metadata": {
                      "reverted_activity_id": 1,
                      "reason": "The record was updated by mistake.",
                      "restored_attributes": [
                        "example"
                      ]
                    },
                    "revert": {
                      "allowed": true
                    },
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/activity-logs/{id}/revert": {
      "post": {
        "summary": "activity-logs (revert)",
        "deprecated": false,
        "description": "Reverts the latest CRM update or soft deletion for the activity's subject.",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "required": [
                  "reason"
                ]
              },
              "example": {
                "reason": "The lead status was updated by mistake."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity_log": {
                      "$ref": "#/components/schemas/ActivityLog"
                    }
                  },
                  "required": [
                    "activity_log"
                  ]
                },
                "example": {
                  "activity_log": {
                    "id": 100,
                    "event": "created",
                    "description": "A representative CRM record.",
                    "subject": {
                      "type": "account",
                      "id": 1,
                      "label": "Mon"
                    },
                    "causer": {
                      "id": 1,
                      "name": "Example record"
                    },
                    "changes": {
                      "before": {},
                      "after": {}
                    },
                    "metadata": {
                      "reverted_activity_id": 1,
                      "reason": "The record was updated by mistake.",
                      "restored_attributes": [
                        "example"
                      ]
                    },
                    "revert": {
                      "allowed": true
                    },
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "summary": "Live analytics overview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Live overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "overview"
                  ],
                  "properties": {
                    "overview": {
                      "$ref": "#/components/schemas/AnalyticsOverview"
                    }
                  }
                },
                "example": {
                  "overview": {
                    "as_of": "2026-08-20T12:00:00.000000Z",
                    "today": {
                      "new_leads": 1,
                      "converted_leads": 1,
                      "lead_conversion_rate": 12.5,
                      "opened_deals": 1,
                      "opened_deal_value": 240000,
                      "won_deals": 1,
                      "lost_deals": 1,
                      "won_value": 240000,
                      "lost_value": 240000,
                      "win_rate": 12.5,
                      "final_commission": 100
                    },
                    "month_to_date": {
                      "new_leads": 1,
                      "converted_leads": 1,
                      "lead_conversion_rate": 12.5,
                      "opened_deals": 1,
                      "opened_deal_value": 240000,
                      "won_deals": 1,
                      "lost_deals": 1,
                      "won_value": 240000,
                      "lost_value": 240000,
                      "win_rate": 12.5,
                      "final_commission": 100
                    },
                    "pipeline": {
                      "active_count": 3,
                      "active_value": 240000,
                      "by_status": [
                        {
                          "status": "pending",
                          "count": 3,
                          "value": 240000
                        }
                      ]
                    },
                    "inventory": [
                      {
                        "status": "pending",
                        "purpose": "sale",
                        "type": "villa",
                        "count": 3,
                        "value": 240000
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/metrics": {
      "get": {
        "summary": "Overview KPI metrics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Four KPI metrics with seven daily trend points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "metrics"
                  ],
                  "properties": {
                    "metrics": {
                      "$ref": "#/components/schemas/OverviewMetrics"
                    }
                  }
                },
                "example": {
                  "metrics": {
                    "new_leads": {
                      "value": 240000,
                      "change": 12.5,
                      "trend": [
                        {
                          "label": "Mon",
                          "value": 240000
                        }
                      ]
                    },
                    "conversion_rate": {
                      "value": 240000,
                      "change": 12.5,
                      "trend": [
                        {
                          "label": "Mon",
                          "value": 240000
                        }
                      ]
                    },
                    "revenue": {
                      "value": 240000,
                      "change": 12.5,
                      "trend": [
                        {
                          "label": "Mon",
                          "value": 240000
                        }
                      ]
                    },
                    "properties": {
                      "value": 240000,
                      "change": 12.5,
                      "trend": [
                        {
                          "label": "Mon",
                          "value": 240000
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/leaderboard": {
      "get": {
        "summary": "Overview sales leaderboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week"
              ],
              "default": "month"
            },
            "example": "month"
          }
        ],
        "responses": {
          "200": {
            "description": "Every agent, including zero-sales agents, for the requested period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "leaderboard"
                  ],
                  "properties": {
                    "leaderboard": {
                      "$ref": "#/components/schemas/OverviewLeaderboard"
                    }
                  }
                },
                "example": {
                  "leaderboard": {
                    "range": "year",
                    "data": [
                      {
                        "name": "Example record",
                        "value": 240000
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/analytics_ValidationError"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/revenue": {
      "get": {
        "summary": "Overview revenue performance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week"
              ],
              "default": "month"
            },
            "example": "month"
          }
        ],
        "responses": {
          "200": {
            "description": "Current and previous period revenue series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revenue"
                  ],
                  "properties": {
                    "revenue": {
                      "$ref": "#/components/schemas/OverviewRevenue"
                    }
                  }
                },
                "example": {
                  "revenue": {
                    "range": "year",
                    "current": [
                      {
                        "label": "Mon",
                        "value": 240000
                      }
                    ],
                    "previous": [
                      {
                        "label": "Mon",
                        "value": 240000
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/analytics_ValidationError"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/customers": {
      "get": {
        "summary": "Overview qualified customers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest qualified leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customers"
                  ],
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OverviewCustomer"
                      }
                    }
                  }
                },
                "example": {
                  "customers": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "company": "Northstar Development",
                      "account_logo": "https://api-crm.swerky.dev/storage/example.webp",
                      "position": "example"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/deals": {
      "get": {
        "summary": "Overview recent deals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest deals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deals"
                  ],
                  "properties": {
                    "deals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OverviewDeal"
                      }
                    }
                  }
                },
                "example": {
                  "deals": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "customer": "example",
                      "deal_value": 240000,
                      "status": "pending"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/accounts": {
      "get": {
        "summary": "Overview top accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five accounts ranked by contact count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accounts"
                  ],
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OverviewAccount"
                      }
                    }
                  }
                },
                "example": {
                  "accounts": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "logo": "https://api-crm.swerky.dev/storage/example.webp",
                      "industry": "example",
                      "leads_count": 3
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/properties": {
      "get": {
        "summary": "Overview recent properties",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "properties"
                  ],
                  "properties": {
                    "properties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OverviewProperty"
                      }
                    }
                  }
                },
                "example": {
                  "properties": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "status": "pending",
                      "price": 240000
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports": {
      "get": {
        "summary": "List saved analytics reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cadence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly"
              ]
            },
            "example": "daily"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "running",
                "completed",
                "failed"
              ]
            },
            "example": "queued"
          },
          {
            "name": "period_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-08-01T00:00:00.000000Z"
          },
          {
            "name": "period_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-08-01T00:00:00.000000Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated report archive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportRunPaginator"
                },
                "example": {
                  "data": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "definition": "sales-pipeline",
                      "cadence": "daily",
                      "status": "queued",
                      "period_start": "2026-08-20T12:00:00.000000Z",
                      "period_end": "2026-08-20T12:00:00.000000Z",
                      "generated_at": "2026-08-20T12:00:00.000000Z",
                      "duration_ms": 1,
                      "download_available": true
                    }
                  ],
                  "links": {},
                  "meta": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports/{reportRun}": {
      "get": {
        "summary": "Show a saved analytics report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reportRun",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/ReportRunDetail"
                    }
                  }
                },
                "example": {
                  "report": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "definition": "sales-pipeline",
                    "cadence": "daily",
                    "status": "queued",
                    "period_start": "2026-08-20T12:00:00.000000Z",
                    "period_end": "2026-08-20T12:00:00.000000Z",
                    "generated_at": "2026-08-20T12:00:00.000000Z",
                    "duration_ms": 1,
                    "download_available": true,
                    "snapshot": {},
                    "failure": {
                      "code": "example",
                      "message": "Request completed successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports/{reportRun}/download": {
      "get": {
        "summary": "Download a saved analytics report CSV",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reportRun",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV report",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "id,definition,status\n550e8400-e29b-41d4-a716-446655440000,sales-pipeline,completed\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/login": {
      "post": {
        "summary": "login",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "example": "Example record",
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "default": "password",
                    "example": "Password123!"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              },
              "example": {
                "username": "supervisor",
                "password": "password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  },
                  "token": "{{token}}"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/user": {
      "get": {
        "summary": "user",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "summary": "user update",
        "deprecated": false,
        "description": "Update the authenticated user's profile.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "Supervisor",
                "username": "supervisor",
                "email": "supervisor@example.com",
                "phone": "+19292932176"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/secure-token": {
      "get": {
        "summary": "Generate secure token",
        "deprecated": false,
        "description": "Generate a secure token and developer-only Horizon and Telescope paths for the configured developer.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secure token generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "horizon": {
                      "type": "string"
                    },
                    "telescope": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token",
                    "horizon",
                    "telescope"
                  ]
                },
                "example": {
                  "token": "{{token}}",
                  "horizon": "https://api-crm.swerky.dev/api/secure-login?secure_token={{token}}&user=1&destination=horizon",
                  "telescope": "https://api-crm.swerky.dev/api/secure-login?secure_token={{token}}&user=1&destination=telescope"
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Only the configured developer can generate secure tokens."
          },
          "409": {
            "description": "A secure token cannot be generated for this account."
          }
        },
        "security": []
      }
    },
    "/update-password": {
      "post": {
        "summary": "password update",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "_method": {
                    "type": "string",
                    "default": "PUT",
                    "example": "PUT"
                  },
                  "current_password": {
                    "type": "string",
                    "example": "password"
                  },
                  "new_password": {
                    "type": "string",
                    "example": "password"
                  }
                },
                "required": [
                  "_method",
                  "current_password",
                  "new_password"
                ]
              },
              "example": {
                "_method": "PUT",
                "current_password": "password",
                "new_password": "NewPassword123!"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "password updated"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/forgot-password": {
      "put": {
        "summary": "password (reset link)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "person@example.com",
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "supervisor@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "passwords.sent"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/reset-password": {
      "post": {
        "summary": "password reset",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "person@example.com",
                    "type": "string"
                  },
                  "token": {
                    "example": "{{token}}",
                    "type": "string"
                  },
                  "password": {
                    "example": "Password123!",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "token",
                  "password"
                ]
              },
              "example": {
                "email": "supervisor@example.com",
                "token": "reset-token",
                "password": "NewPassword123!"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "passwords.reset"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/logout": {
      "delete": {
        "summary": "logout",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/login-users": {
      "get": {
        "summary": "login users",
        "deprecated": false,
        "description": "Public account list used to pre-fill the login form.",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoginUser"
                  }
                },
                "example": [
                  {
                    "username": "Example record",
                    "role": "manager",
                    "is_super": true
                  }
                ]
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "users (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with",
            "in": "query",
            "description": "Relations to include in each user record.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "manager"
              ]
            },
            "example": "manager"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "username": "Example record",
                      "email": "person@example.com",
                      "phone": "+19292932176",
                      "commission_rate": 12.5,
                      "total_potential_commission": 100,
                      "total_actual_commission": 100,
                      "avatar": {
                        "id": 1,
                        "uuid": "550e8400-e29b-41d4-a716-446655440000",
                        "name": "Example record",
                        "mime_type": "image/webp",
                        "size": 24576,
                        "url": "https://api-crm.swerky.dev/storage/example.webp",
                        "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                        "order": 1,
                        "created_at": "2026-08-20T12:00:00.000000Z"
                      },
                      "manager": null,
                      "roles": [
                        {
                          "id": 1,
                          "name": "Example record"
                        }
                      ],
                      "permissions": [
                        {
                          "id": 1,
                          "name": "Example record"
                        }
                      ],
                      "is_super": true,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    }
                  ],
                  "links": {
                    "first": "example",
                    "last": "example",
                    "prev": "example",
                    "next": "example"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {}
                    ],
                    "path": "https://api-crm.swerky.dev/api/example",
                    "per_page": 1,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "summary": "users (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "name",
                      "username",
                      "email",
                      "phone",
                      "password"
                    ]
                  }
                },
                "required": [
                  "user"
                ]
              },
              "example": {
                "user": {
                  "name": "Maya Carter",
                  "username": "maya.carter",
                  "email": "maya.carter@example.com",
                  "phone": "+19292932177",
                  "password": "Password123!",
                  "roles": [
                    "sales-agent"
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "users (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": 2,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "users (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_method": {
                    "type": "string",
                    "default": "PUT"
                  },
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "_method",
                  "name",
                  "username",
                  "email",
                  "phone"
                ]
              },
              "example": {
                "_method": "PUT",
                "name": "Maya Carter",
                "username": "maya.carter",
                "email": "maya.carter@example.com",
                "phone": "+19292932177",
                "roles": [
                  "sales-agent"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                },
                "example": {
                  "user": {
                    "id": 1,
                    "name": "Example record",
                    "username": "Example record",
                    "email": "person@example.com",
                    "phone": "+19292932176",
                    "commission_rate": 12.5,
                    "total_potential_commission": 100,
                    "total_actual_commission": 100,
                    "avatar": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "manager": null,
                    "roles": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "is_super": true,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "users (destroy)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/roles": {
      "get": {
        "summary": "roles (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "guard_name": "sanctum",
                      "permissions": [
                        {
                          "id": 1,
                          "name": "Example record"
                        }
                      ],
                      "permissions_count": 3,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    }
                  ],
                  "links": {
                    "first": "example",
                    "last": "example",
                    "prev": "example",
                    "next": "example"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {}
                    ],
                    "path": "https://api-crm.swerky.dev/api/example",
                    "per_page": 1,
                    "to": 1,
                    "total": 1
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "roles (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleStoreRequest"
              },
              "example": {
                "name": "sales-manager",
                "permissions": [
                  "deal.view",
                  "deal.create"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                },
                "example": {
                  "role": {
                    "id": 1,
                    "name": "Example record",
                    "guard_name": "sanctum",
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions_count": 3,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/roles/{id}": {
      "get": {
        "summary": "roles (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                },
                "example": {
                  "role": {
                    "id": 1,
                    "name": "Example record",
                    "guard_name": "sanctum",
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions_count": 3,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "roles (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdateRequest"
              },
              "example": {
                "_method": "PUT",
                "name": "sales-manager",
                "permissions": [
                  "deal.view",
                  "deal.create"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                },
                "example": {
                  "role": {
                    "id": 1,
                    "name": "Example record",
                    "guard_name": "sanctum",
                    "permissions": [
                      {
                        "id": 1,
                        "name": "Example record"
                      }
                    ],
                    "permissions_count": 3,
                    "created_at": "2026-08-20T12:00:00.000000Z"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "roles (destroy)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/permissions": {
      "get": {
        "summary": "permissions (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permission"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Example record"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "accounts (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "prev": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Example record",
                      "industry": "Development",
                      "phone": "+19292932176",
                      "address": "88 Riverside Drive",
                      "image": {
                        "id": 1,
                        "uuid": "550e8400-e29b-41d4-a716-446655440000",
                        "name": "Example record",
                        "mime_type": "image/webp",
                        "size": 24576,
                        "url": "https://api-crm.swerky.dev/storage/example.webp",
                        "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                        "order": 1,
                        "created_at": "2026-08-20T12:00:00.000000Z"
                      },
                      "created_at": "2026-08-20"
                    }
                  ],
                  "links": {
                    "first": "https://api-crm.swerky.dev/storage/example.webp",
                    "last": "https://api-crm.swerky.dev/storage/example.webp",
                    "prev": "https://api-crm.swerky.dev/storage/example.webp",
                    "next": "https://api-crm.swerky.dev/storage/example.webp"
                  },
                  "meta": {
                    "current_page": 1,
                    "last_page": 1,
                    "per_page": 1,
                    "total": 1
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "accounts (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Development"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "industry",
                  "phone",
                  "address"
                ]
              },
              "example": {
                "name": "Northstar Development",
                "industry": "Development",
                "phone": "+19292932180",
                "address": "12 Market Street, Austin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "account"
                  ],
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                },
                "example": {
                  "account": {
                    "id": 1,
                    "name": "Example record",
                    "industry": "Development",
                    "phone": "+19292932176",
                    "address": "88 Riverside Drive",
                    "image": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "created_at": "2026-08-20"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "summary": "accounts (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/AccountDetails"
                    }
                  },
                  "required": [
                    "account"
                  ]
                },
                "example": {
                  "account": {
                    "id": 1,
                    "name": "Example record",
                    "industry": "Development",
                    "phone": "+19292932176",
                    "address": "88 Riverside Drive",
                    "image": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "created_at": "2026-08-20",
                    "contacts_count": 3
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "accounts (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Development"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "industry",
                  "phone",
                  "address"
                ]
              },
              "example": {
                "name": "Northstar Development",
                "industry": "Development",
                "phone": "+19292932180",
                "address": "12 Market Street, Austin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "account"
                  ],
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                },
                "example": {
                  "account": {
                    "id": 1,
                    "name": "Example record",
                    "industry": "Development",
                    "phone": "+19292932176",
                    "address": "88 Riverside Drive",
                    "image": {
                      "id": 1,
                      "uuid": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Example record",
                      "mime_type": "image/webp",
                      "size": 24576,
                      "url": "https://api-crm.swerky.dev/storage/example.webp",
                      "thumbnail_url": "https://api-crm.swerky.dev/storage/example.webp",
                      "order": 1,
                      "created_at": "2026-08-20T12:00:00.000000Z"
                    },
                    "created_at": "2026-08-20"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "accounts (delete)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "contacts (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "prev": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
[...]
