{
  "openapi": "3.0.1",
  "info": {
    "title": "CRM API",
    "version": "1.0.0",
    "description": "Combined API reference for the CRM platform."
  },
  "servers": [
    {
      "url": "https://api-crm.swerky.dev/api",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "activity-logs",
      "description": "Activity Logs"
    },
    {
      "name": "analytics",
      "description": "Analytics"
    },
    {
      "name": "auth",
      "description": "Authentication"
    },
    {
      "name": "contacts",
      "description": "Contacts"
    },
    {
      "name": "listings",
      "description": "Listings"
    },
    {
      "name": "marketing",
      "description": "Marketing"
    },
    {
      "name": "media",
      "description": "Media"
    },
    {
      "name": "sales",
      "description": "Sales"
    },
    {
      "name": "shared",
      "description": "Shared"
    }
  ],
  "paths": {
    "/v1/activity-logs": {
      "get": {
        "summary": "activity-logs (list)",
        "deprecated": false,
        "description": "Returns CRM activity logs ordered newest first. The endpoint supports filtering by subjects, event, causer, and creation date.",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjects[]",
            "in": "query",
            "description": "Subject filters in type:id format. Supported types: account, contact, deal, lead, property, user.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "maxItems": 50,
              "items": {
                "type": "string",
                "pattern": "^(account|contact|deal|lead|property|user):[1-9][0-9]*$"
              }
            },
            "example": [
              "lead:44",
              "account:12"
            ]
          },
          {
            "name": "event",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "deleted",
                "restored",
                "reverted",
                "roles_updated",
                "password_updated"
              ]
            }
          },
          {
            "name": "causer_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Include activities created at or after this date-time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Include activities created at or before this date-time.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/activity_logs_ActivityLog"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "null"
                        },
                        "next": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "page": {
                                "type": "integer",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "page",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/activity-logs/{id}": {
      "get": {
        "summary": "activity-logs (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity_log": {
                      "$ref": "#/components/schemas/activity_logs_ActivityLog"
                    }
                  },
                  "required": [
                    "activity_log"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/activity-logs/{id}/revert": {
      "post": {
        "summary": "activity-logs (revert)",
        "deprecated": false,
        "description": "Reverts the latest CRM update or soft deletion for the activity's subject.",
        "tags": [
          "activity-logs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "required": [
                  "reason"
                ]
              },
              "example": {
                "reason": "The lead was updated by mistake."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity_log": {
                      "$ref": "#/components/schemas/activity_logs_ActivityLog"
                    }
                  },
                  "required": [
                    "activity_log"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/analytics/overview": {
      "get": {
        "summary": "Live analytics overview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Live overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "overview"
                  ],
                  "properties": {
                    "overview": {
                      "$ref": "#/components/schemas/analytics_AnalyticsOverview"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/metrics": {
      "get": {
        "summary": "Overview KPI metrics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Four KPI metrics with seven daily trend points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "metrics"
                  ],
                  "properties": {
                    "metrics": {
                      "$ref": "#/components/schemas/analytics_OverviewMetrics"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/leaderboard": {
      "get": {
        "summary": "Overview sales leaderboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week"
              ],
              "default": "month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every agent, including zero-sales agents, for the requested period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "leaderboard"
                  ],
                  "properties": {
                    "leaderboard": {
                      "$ref": "#/components/schemas/analytics_OverviewLeaderboard"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/analytics_ValidationError"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/revenue": {
      "get": {
        "summary": "Overview revenue performance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week"
              ],
              "default": "month"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current and previous period revenue series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revenue"
                  ],
                  "properties": {
                    "revenue": {
                      "$ref": "#/components/schemas/analytics_OverviewRevenue"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/analytics_ValidationError"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/customers": {
      "get": {
        "summary": "Overview qualified customers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest qualified leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customers"
                  ],
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/analytics_OverviewCustomer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/deals": {
      "get": {
        "summary": "Overview recent deals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest deals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deals"
                  ],
                  "properties": {
                    "deals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/analytics_OverviewDeal"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/accounts": {
      "get": {
        "summary": "Overview top accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five accounts ranked by contact count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accounts"
                  ],
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/analytics_OverviewAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/properties": {
      "get": {
        "summary": "Overview recent properties",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Five latest properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "properties"
                  ],
                  "properties": {
                    "properties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/analytics_OverviewProperty"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports": {
      "get": {
        "summary": "List saved analytics reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cadence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "running",
                "completed",
                "failed"
              ]
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated report archive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/analytics_ReportRunPaginator"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports/{reportRun}": {
      "get": {
        "summary": "Show a saved analytics report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reportRun",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/analytics_ReportRunDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/v1/analytics/reports/{reportRun}/download": {
      "get": {
        "summary": "Download a saved analytics report CSV",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reportRun",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV report",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/analytics_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/analytics_Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/login": {
      "post": {
        "summary": "login",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "example": "",
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "default": "password",
                    "example": ""
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              },
              "example": {
                "username": "",
                "password": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                },
                "example": {
                  "user": {
                    "id": 2,
                    "name": "Supervisor",
                    "username": "supervisor",
                    "email": "supervisor@crm.io",
                    "phone": "+19292932176",
                    "roles": [
                      {
                        "id": 1,
                        "name": "manager",
                        "permissions": [
                          {
                            "id": 6,
                            "name": "user.view"
                          },
                          {
                            "id": 7,
                            "name": "user.create"
                          },
                          {
                            "id": 8,
                            "name": "user.edit"
                          }
                        ]
                      }
                    ],
                    "permissions": [
                      {
                        "id": 6,
                        "name": "user.view"
                      },
                      {
                        "id": 7,
                        "name": "user.create"
                      },
                      {
                        "id": 8,
                        "name": "user.edit"
                      }
                    ],
                    "created_at": "2026-06-02T04:01:46.000000Z"
                  },
                  "token": "1|IGRqnVQmVCGKT7Domd1W9NHMw3tQ3Y57YlgM9YLa9416ea18"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/user": {
      "get": {
        "summary": "user",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "summary": "user update",
        "deprecated": false,
        "description": "Update the authenticated user's profile.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/secure-token": {
      "get": {
        "summary": "Generate secure token",
        "deprecated": false,
        "description": "Generate a secure token for the authenticated super admin.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secure token generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Only super admins can generate secure tokens."
          },
          "409": {
            "description": "A secure token cannot be generated for this account."
          }
        },
        "security": []
      }
    },
    "/update-password": {
      "post": {
        "summary": "password update",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "_method": {
                    "type": "string",
                    "default": "PUT",
                    "example": "PUT"
                  },
                  "current_password": {
                    "type": "string",
                    "example": "password"
                  },
                  "new_password": {
                    "type": "string",
                    "example": "password"
                  }
                },
                "required": [
                  "_method",
                  "current_password",
                  "new_password"
                ]
              },
              "example": {
                "_method": "PUT",
                "current_password": "password",
                "new_password": "password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/forgot-password": {
      "put": {
        "summary": "password (reset link)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "",
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/auth_User"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/auth_PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/auth_PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "user": {
                    "id": 2,
                    "name": "Supervisor",
                    "username": "supervisor",
                    "email": "supervisor@crm.io",
                    "phone": "+19292932176",
                    "roles": [
                      {
                        "id": 1,
                        "name": "manager",
                        "permissions": [
                          {
                            "id": 6,
                            "name": "user.view"
                          },
                          {
                            "id": 7,
                            "name": "user.create"
                          },
                          {
                            "id": 8,
                            "name": "user.edit"
                          }
                        ]
                      }
                    ],
                    "permissions": [
                      {
                        "id": 6,
                        "name": "user.view"
                      },
                      {
                        "id": 7,
                        "name": "user.create"
                      },
                      {
                        "id": 8,
                        "name": "user.edit"
                      }
                    ],
                    "created_at": "2026-06-02T04:01:46.000000Z"
                  },
                  "token": "1|IGRqnVQmVCGKT7Domd1W9NHMw3tQ3Y57YlgM9YLa9416ea18"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/reset-password": {
      "post": {
        "summary": "password reset",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "",
                    "type": "string"
                  },
                  "token": {
                    "example": "",
                    "type": "string"
                  },
                  "password": {
                    "example": "",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "token",
                  "password"
                ]
              },
              "example": {
                "email": "",
                "token": "",
                "password": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "example": {
                  "user": {
                    "id": 2,
                    "name": "Supervisor",
                    "username": "supervisor",
                    "email": "supervisor@crm.io",
                    "phone": "+19292932176",
                    "roles": [
                      {
                        "id": 1,
                        "name": "manager",
                        "permissions": [
                          {
                            "id": 6,
                            "name": "user.view"
                          },
                          {
                            "id": 7,
                            "name": "user.create"
                          },
                          {
                            "id": 8,
                            "name": "user.edit"
                          }
                        ]
                      }
                    ],
                    "permissions": [
                      {
                        "id": 6,
                        "name": "user.view"
                      },
                      {
                        "id": 7,
                        "name": "user.create"
                      },
                      {
                        "id": 8,
                        "name": "user.edit"
                      }
                    ],
                    "created_at": "2026-06-02T04:01:46.000000Z"
                  },
                  "token": "1|IGRqnVQmVCGKT7Domd1W9NHMw3tQ3Y57YlgM9YLa9416ea18"
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/logout": {
      "delete": {
        "summary": "logout",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/login-users": {
      "get": {
        "summary": "login users",
        "deprecated": false,
        "description": "Public account list used to pre-fill the login form.",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/auth_LoginUser"
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "users (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with",
            "in": "query",
            "description": "Relations to include in each user record.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "manager"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/auth_User"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/auth_PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/auth_PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "message": "Route [login] not defined.",
                  "exception": "Symfony\\Component\\Routing\\Exception\\RouteNotFoundException",
                  "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php",
                  "line": 546,
                  "trace": [
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php",
                      "line": 870,
                      "function": "route",
                      "class": "Illuminate\\Routing\\UrlGenerator",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Configuration/ApplicationBuilder.php",
                      "line": 291,
                      "function": "route"
                    },
                    {
                      "function": "{closure:{closure:Illuminate\\Foundation\\Configuration\\ApplicationBuilder::withMiddleware():289}:291}",
                      "class": "Illuminate\\Foundation\\Configuration\\ApplicationBuilder",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php",
                      "line": 117,
                      "function": "call_user_func"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php",
                      "line": 104,
                      "function": "redirectTo",
                      "class": "Illuminate\\Auth\\Middleware\\Authenticate",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php",
                      "line": 87,
                      "function": "unauthenticated",
                      "class": "Illuminate\\Auth\\Middleware\\Authenticate",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php",
                      "line": 61,
                      "function": "authenticate",
                      "class": "Illuminate\\Auth\\Middleware\\Authenticate",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Auth\\Middleware\\Authenticate",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 137,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Routing/Router.php",
                      "line": 821,
                      "function": "then",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Routing/Router.php",
                      "line": 800,
                      "function": "runRouteWithinStack",
                      "class": "Illuminate\\Routing\\Router",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Routing/Router.php",
                      "line": 764,
                      "function": "runRoute",
                      "class": "Illuminate\\Routing\\Router",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Routing/Router.php",
                      "line": 753,
                      "function": "dispatchToRoute",
                      "class": "Illuminate\\Routing\\Router",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php",
                      "line": 200,
                      "function": "dispatch",
                      "class": "Illuminate\\Routing\\Router",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 180,
                      "function": "{closure:Illuminate\\Foundation\\Http\\Kernel::dispatchToRouter():197}",
                      "class": "Illuminate\\Foundation\\Http\\Kernel",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php",
                      "line": 21,
                      "function": "{closure:Illuminate\\Pipeline\\Pipeline::prepareDestination():178}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php",
                      "line": 31,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\TransformsRequest",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\ConvertEmptyStringsToNull",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php",
                      "line": 21,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php",
                      "line": 51,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\TransformsRequest",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\TrimStrings",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Http/Middleware/ValidatePostSize.php",
                      "line": 27,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Http\\Middleware\\ValidatePostSize",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php",
                      "line": 109,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\PreventRequestsDuringMaintenance",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php",
                      "line": 74,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Http\\Middleware\\HandleCors",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php",
                      "line": 58,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Http\\Middleware\\TrustProxies",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/InvokeDeferredCallbacks.php",
                      "line": 22,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Middleware\\InvokeDeferredCallbacks",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Http/Middleware/ValidatePathEncoding.php",
                      "line": 28,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 219,
                      "function": "handle",
                      "class": "Illuminate\\Http\\Middleware\\ValidatePathEncoding",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php",
                      "line": 137,
                      "function": "{closure:{closure:Illuminate\\Pipeline\\Pipeline::carry():194}:195}",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php",
                      "line": 175,
                      "function": "then",
                      "class": "Illuminate\\Pipeline\\Pipeline",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php",
                      "line": 144,
                      "function": "sendRequestThroughRouter",
                      "class": "Illuminate\\Foundation\\Http\\Kernel",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/Application.php",
                      "line": 1220,
                      "function": "handle",
                      "class": "Illuminate\\Foundation\\Http\\Kernel",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/public/index.php",
                      "line": 20,
                      "function": "handleRequest",
                      "class": "Illuminate\\Foundation\\Application",
                      "type": "->"
                    },
                    {
                      "file": "/home/swerky/dev/projects/crm/server/vendor/laravel/framework/src/Illuminate/Foundation/resources/server.php",
                      "line": 23,
                      "function": "require_once"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "summary": "users (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "name",
                      "username",
                      "email",
                      "phone",
                      "password"
                    ]
                  }
                },
                "required": [
                  "user"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "users (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": 2,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "users (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_method": {
                    "type": "string",
                    "const": "PUT"
                  },
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "_method",
                  "name",
                  "username",
                  "email",
                  "phone"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/auth_User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "users (destroy)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/roles": {
      "get": {
        "summary": "roles (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/auth_Role"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/auth_PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/auth_PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "roles (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth_RoleStoreRequest"
              },
              "example": {
                "name": "manager",
                "guard_name": "sanctum",
                "permissions": [
                  "user.view",
                  "contact.view"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/auth_Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/roles/{id}": {
      "get": {
        "summary": "roles (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/auth_Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "roles (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth_RoleUpdateRequest"
              },
              "example": {
                "_method": "PUT",
                "name": "sales-manager",
                "permissions": [
                  "deal.view",
                  "deal.create"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "$ref": "#/components/schemas/auth_Role"
                    }
                  },
                  "required": [
                    "role"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "roles (destroy)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/permissions": {
      "get": {
        "summary": "permissions (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/auth_Permission"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "accounts (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "accounts (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Development"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "industry",
                  "phone",
                  "address"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "summary": "accounts (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "$ref": "#/components/schemas/contacts_AccountDetails"
                    }
                  },
                  "required": [
                    "account"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "accounts (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Development"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "industry",
                  "phone",
                  "address"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "accounts (delete)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "contacts (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "summary": "contacts (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/contacts_Contact"
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "contacts (update)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "readOnly": true,
                    "format": "bignum"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "integer",
                    "format": "bignum",
                    "maximum": 10,
                    "minimum": 1
                  },
                  "_method": {
                    "type": "string",
                    "const": "PUT"
                  }
                },
                "required": [
                  "account_id",
                  "_method",
                  "id",
                  "name",
                  "phone"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/contacts_Contact"
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "summary": "contacts (delete)",
        "deprecated": false,
        "description": "",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "bignum"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/properties": {
      "get": {
        "summary": "properties (list)",
        "deprecated": false,
        "description": "",
        "tags": [
          "listings"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Lowest property price to include.",
            "schema": {
              "type": "number",
              "format": "double",
              "minimum": 0
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Highest property price to include.",
            "schema": {
              "type": "number",
              "format": "double",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number",
                            "format": "double",
                            "minimum": 5000,
                            "maximum": 1000000
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "land",
                              "villa",
                              "appartment",
                              "mansion",
                              "commercial"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "showing",
                              "sold"
                            ]
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "ID",
                                "format": "bignum"
                              },
                              "name": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string",
                                "readOnly": true
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "password": {
                                "type": "string",
                                "format": "password"
                              },
                              "created_at": {
                                "type": "string",
                                "readOnly": true,
                                "format": "date-time"
                              }
                            },
                            "readOnly": true,
                            "required": [
                              "name",
                              "username",
                              "email",
                              "phone"
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true
                          }
                        },
                        "required": [
                          "title",
                          "description",
                          "city",
                          "address",
                          "price",
                          "type",
                          "status",
                          "created_at"
                        ]
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string",
                          "nullable": true
                        },
                        "prev": {
                          "type": "string",
                          "nullable": true
                        },
                        "next": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "first",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "nullable": true
                              },
                              "label": {
                                "type": "string"
                              },
                              "page": {
                                "type": "integer",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "page",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "filter": {
                      "type": "object",
                      "description": "The available property price range.",
                      "properties": {
                        "min_price": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        },
                        "max_price": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        }
                      },
                      "required": [
                        "min_price",
                        "max_price"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta",
                    "filter"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "summary": "properties (store)",
        "deprecated": false,
        "description": "",
        "tags": [
          "listings"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number",
                    "format": "double",
                    "minimum": 5000,
                    "maximum": 1000000
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "land",
                      "villa",
                      "appartment",
                      "mansion",
                      "commercial"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "showing"
                    ],
                    "nullable": true
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  }
                },
                "required": [
                  "title",
                  "description",
                  "city",
                  "address",
                  "price",
                  "type",
                  "created_at"
                ]
              },
              "examples": {}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "property": {
                      "$ref": "#/components/schemas/listings_Property"
                    }
                  },
                  "required": [
                    "property"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/properties/{id}": {
      "get": {
        "summary": "properties (show)",
        "deprecated": false,
        "description": "",
        "tags": [
          "listings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "example": "Bearer {{token}}",
            "schema": {
              "type": "string"
            }
          }
        ],
[...]
