.git
.github
**/.env
**/.env.*
**/node_modules
**/vendor
**/dist
**/coverage
**/*.log
server/bootstrap/cache/*.php
server/tests
server/storage
server/db.jpg
server/public/users.csv
server/public/users.xlsx
server/public/seed-images
dashboard/docs
dashboard/scripts
